* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary:#dcdee0;
  --secondary: #ff9f1c;
  --light: #fdfffc;
  --dark: #011627;
  --accent: #2ec4b6;
  --special: #e71d36;
  --link: #2059a5;

  --xlg-size: 4.5rem;
  --lg-size: 3.125rem;
  --md-size: 1.563rem;
  --sm-size: 1rem;
  --xsm-size: 0.5rem;
  --xxsm-size: 0.2rem;

  --heading-font: 'Roboto Condensed',sans-serif;
}

body {
  font-family: 'Asap', sans-serif;
  background-color: var(--dark);
}

p {
  margin-bottom: var(--xxsm-size);
  line-height: 125%;
}


/* Positioning */
.float-left {
  float: left;
}

.clearfix {
  clear: both;
}

.center {
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

.gap {
  margin: 0 var(--sm-size);
}

.container {
  padding: var(--md-size);
  min-height: 80vh;
}

.m-auto {
  margin: 0 auto;
}

.m-right {
  margin-right: var(--xsm-size);
}

.m-top-btm {
  margin: var(--sm-size) 0;
}

.text-center {
  text-align: center;
}

.xxsm-pad {
  padding: var(--xxsm-size);
}

.table-spacing {
  border-spacing: var(--sm-size) var(--xxsm-size);
}


/* Sizing */
.w-sm {
  width: 21.6%;
}

.w-third {
  width: 33.3%;
}

.w-md {
  width: 46.5%;
}

.w-lg {
  width: 80%;
}

.w-max {
  width: 100%;
}


/* Element Colors */
.bg-light {
  background-color: var(--light);
}


/* Text Style */
.no-italics {
  font-style: normal;
}

.no-bullets {
  list-style: none;
}

.text-link {
  color: var(--link);
}


/* Borders */
.rounded-border {
  border-radius: 0.4rem;
}


/* Navigation Bar */
nav {
  background-color: var(--primary);
  height: 7.5rem;
  padding: 1rem;
}

nav ul {
  padding: 2rem;
}

nav ul > li {
  display: inline-block;
  margin-right: 0.8rem;
}

nav > ul > li > a {
  padding: 0.75rem 1.5rem;
  background-color: var(--light);
  text-decoration: none;
  color: var(--dark);
}

nav > ul > li > a:hover,
nav > ul > li > a:focus {
  background: var(--secondary);
}

img.logo {
  width: 8.75rem;
}


/* Headings */
.heading-title {
  color: var(--dark);
  letter-spacing: 0.25rem;
  font-family: var(--heading-font);
}

.heavy {
  text-transform: uppercase;
  font-weight: 700;
}

h1.heading-title {
  font-size: var(--xlg-size);
  padding-top: 2rem;
}

h2.heading-title {
  font-size: 2.5rem;
  margin-bottom: var(--xsm-size);
}

h3 {
  font-size: 1.5rem;
  margin-bottom: var(--xxsm-size);
}


/* Back to top button */
.btn-top {
  float: right;
  position: fixed;
  bottom: 3rem;
  right: 3.8%;
  font-size: var(--md-size);
  background-color: var(--secondary);
  width: 1.8rem;
  padding: 0.05rem;
}

.btn-top:hover {
  background-color: var(--accent);
}


/* Footer */
footer {
  background-color: var(--primary);
  padding: var(--md-size);
}

.button {
  font-family: inherit;
  font-size: 100%;
  padding: var(--xxsm-size);
  font-weight: 800;
  color: var(--dark);
  border: 0.125rem solid var(--dark);
  cursor: pointer;
}

.button:hover,
.button:focus {
  background: var(--secondary);
}

.fa-brands {
  color: var(--accent);
}

.fa-brands:hover,
.fa-brands:focus,
.text-link:hover,
.text-link:focus {
  color: var(--secondary);
}


/* Page Dividers */
.section-divider {
  border-top: var(--xxsm-size) solid var(--accent);
}


/* Screen widths up to 425px */
@media only screen and (max-width: 425px) {
  img.logo {
    width: var(--xlg-size);
  }

  nav {
    height: 5rem;
  }
  
  nav ul {
    padding: var(--sm-size);
  }
  
  nav ul > li {
    margin-right: 0.1rem;
  }
  
  nav > ul > li > a {
    padding: var(--xsm-size);
    font-size: var(--sm-size);
  }

  h1.heading-title {
    font-size: var(--lg-size);
  }

  h2.heading-title {
    font-size: var(--md-size);
  }
  
  h3 {
    font-size: var(--sm-size);
  }

  .mob-col {
    width: 89%;
  }

  .mob-pad {
    margin: var(--sm-size) auto;
  }

  .mob-footer {
    float: none;
    width: 100%;
  }
}